body {
    background-color: rgb(30, 85, 131);
}

#settings {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    height: 50px;
    width: 100px;
    border: none;
    color: white;
    font-size: 15px;
}

#settings:hover {
    color: lightgrey;
}

#setting_bars {
    display: none;
}

#change_name {
    position: absolute;
    top: 70px;
    right: 20px;
    background-color: white;
    height: 50px;
    width: 200px;
    border: none;
}

#change_name:hover {
    background-color: lightgrey;
}

#change_time_format:hover {
    background-color: lightgrey;
}

#change_time_format {
    position: absolute;
    top: 120px;
    right: 20px;
    background-color: white;
    height: 50px;
    width: 200px;
    border: none; 
}

.main_message {
    color: white;
    font-family: Arial;
}

#central_message {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#time_div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#time {
    font-size: 100px;
    font-weight: 1000;
}

#message_div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 75px;
    font-weight: 100;
}

#quote_div {
    font-size: 25px;
}

#author {
    text-align: right;
}

#todo_button {
    display: flex;
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: transparent;
    color: white;
    padding: 20px 20px;
    border: none;
    font-size: 15px;
}

#todo_button:hover {
    color: lightgrey;
}

#todo_title {
    position: absolute;
    top: 1px;
    left: 10px;
    color: white;
    font-family: Arial;
}

#todo_list {
    display: none;
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    height: 400px;
    width: 450px;
}

#todo_input {
    position: absolute;
    bottom: 15px;
    left: 15px;
    height: 25px;
    width: 375px;
}

#add_item {
    position: absolute;
    bottom: 15px;
    right: 15px;
    height: 30px;
    width: 30px;
}

#close_list {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 25px;
    width: 25px;
    background-color: transparent;
    border: none;
    color: white;
}

#notes_container {
    position: absolute;
    bottom: 50px;
    right: 15px;
    height: 300px;
    width: 460px;
    overflow-y: auto;
    overflow-wrap: break-word;
    font-family: Arial;
    font-size: 20px;
    font-weight: 10px;
}

#note_list {
    color: white;
    list-style-type: none;
}

.delete_note {
    border: none;
    padding: 5px 8px;
    background-color: transparent;
    color: white;
}

.delete_note:hover {
    color: lightgrey;
}

li {
    font-size: 15px;
}
