body {
    background-color: rgb(30, 85, 131);
}

#central_message {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#time_div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#time {
    color: white;
    font-family: Arial;
    font-size: 100px;
    font-weight: 1000;
}

#message_div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.message {
    color: white;
    font-family: Arial;
    font-size: 70px;
    font-weight: 1000;
}
